!!!
%html{ dir: 'ltr', lang: 'en' }
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }
    %meta{ content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport" }
    %title Yanni and Felix 👫

    / Meta Tags
    = partial "partials/meta"

    / Favicon
    = partial "partials/favicon"

    / Stylesheet
    = partial "inline/font-loading"
    = partial "inline/site-css"

    / Google Analytics
    = partial "partials/analytics"

    / JavaScript
    / blazy.js
    = partial "inline/blazy"
    :javascript
      ;(function() {
          var bLazy = new Blazy();
      })();
    = partial "inline/site-js"

  %body{ class: page_classes }
    = partial "partials/nav"
    %main= yield 

  / Typekit - yanniandfelix
  %script{ src: "//use.typekit.net/quj1isr.js" }
  :javascript
    try{Typekit.load({ async: true });}catch(e){}

