!!!
%html{ dir: 'ltr', lang: 'en' }
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }
    %meta{ content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport" }
    %title= current_page.data.title || "Yanni and Felix 👫"

    / Meta Tags
    / TODO UPDATE META
    / = partial "partials/meta"

    / Favicon
    / TODO UPDATE FAVICON
    / = partial "partials/favicon"

    / Stylesheet
    = partial "inline-stylesheet/font-loading"
    / = partial "inline-stylesheet/site"
    = stylesheet_link_tag :site

    / Google Analytics
    / TODO ADD ANALYTICS
    / = partial "partials/analytics"

    / JavaScript
    = javascript_include_tag :site, async: true

  %body{ class: page_classes }
    = partial "partials/nav"
    %main= yield 

  / Typekit - yanniandfelix
  %script{ src: "//use.typekit.net/quj1isr.js" }
  :javascript
    try{Typekit.load({ async: true });}catch(e){}

