%nav.desktop-navbar
  %ul.max-w1000px.w100.desktop-navbar-list
    %li.mr8.sm-mr6
      = link_to "Bride & Groom", "#", class: "text-grey-light text-grey-dark-hover sans"
    %li.mr8.sm-mr6
      = link_to "Proposal", "#", class: "text-grey-light text-grey-dark-hover sans"
    %li.mr8.sm-mr6
      = link_to "Wedding", "#", class: "text-grey-light text-grey-dark-hover sans"
    %li.mr8.sm-mr6
      = link_to "Getting There", "#", class: "text-grey-light text-grey-dark-hover sans"
    %li
      = link_to "Things To Do", "#", class: "text-grey-light text-grey-dark-hover sans"
