%nav#menu.desktop-navbar
  %ul.max-w1000px.w100.desktop-navbar-list
    %li.scroll-link.mr10
      = link_to "Bride & Groom", "#bride-and-groom", class: "sans-link navbar-link"
    %li.scroll-link.mr10
      = link_to "Proposal", "#proposal", class: "sans-link navbar-link"
    %li.scroll-link.mr10
      = link_to "Wedding", "#wedding", class: "sans-link navbar-link"
    %li.scroll-link.mr10
      = link_to "Getting There", "#getting-there", class: "sans-link navbar-link"
    %li.scroll-link
      = link_to "Things To Do", "#things-to-do", class: "sans-link navbar-link"
