%nav.fixed.w-100.z3.bg-white
  .max-w-1000px.w-100.mx-auto.my4.px3.sm-px6.flex.flex-wrap.justify-between.items-baseline
    %ul.list-reset.flex.flex-wrap.items-baseline.m0.p0.font-base.uppercase
      %li.mr7.sm-mr6
        = link_to "Bride & Groom", "#", class: "font-base"
      %li.mr7.sm-mr6
        = link_to "Proposal", "#", class: "font-base"
      %li.mr7.sm-mr6
        = link_to "Wedding", "#", class: "font-base"
      %li.mr7.sm-mr6
        = link_to "Getting There", "#", class: "font-base"
      %li
        = link_to "Things To Do", "#", class: "font-base"
