---
title: Yanni and Felix 👫
---

%section
  .flex.flex-column.center
    %h1.hide The Marriage of Yanni & Felix
    %span.display-serif The Marriage Of
    .headline
      %span.display-sans.mr12 Yanni
      %span.display-ampersand &
      %span.display-sans.ml12 Felix

  .w100.flex.flex-column.justify-center.mx-auto
    .w100.flex.justify-between.mb4
      %img.flex-auto.mr2{ src: "http://placehold.it/260x300" }
      %img.flex-auto.mx2{ src: "http://placehold.it/260x300" }
      %img.flex-auto.ml2{ src: "http://placehold.it/260x300" }
    %img.w65.mx-auto{ src: "http://placehold.it/500x390" }


%section.flex.justify-between.items-center
  .w46
    %h2.section-title Bride & Groom
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  %img.w46{ src: "http://placehold.it/370x480" }

%section.w100.flex.flex-column.items-center
  %h2.section-title.title-center Proposal
  .w100.flex.justify-between
    .w46.right-align
      %h4.proposal-name.mt0.mb3.text-blue Yanni
      %p.mb10 
        It was obvious
        %br
        I knew it was going to happen 
        %i soon
        %br
        It was so sweet to see him to prepare all this
        %br
        Thank you to everyone who witnessed it
    .w46
      %h4.proposal-name.mt0.mb3.text-blue Felix
      %p.mb10
        My mind went blank,
        %br
        I messed up most of my plans
        %br
        Speech, mic, speaker – nada. None.
        %br
        Thankfully, she still said yes
  .w100.flex.justify-between.items-start.mb4
    %img.w100px.mr2{ src: "http://placehold.it/100x100" }
    %img.flex-auto.mx2{ src: "http://placehold.it/235x175" }
    %img.h225px.flex-auto.mx2{ src: "http://placehold.it/190x250" }
    %img.flex-auto.ml2{ src: "http://placehold.it/226x300" }
  .w100.right-align
    %p.sans-link.text-grey-light.mb1 Proposal is on Facebook Live – Click here to view
    %p.italic Might want to skip to x minutes. Yanni took a while to arrive at the restaurant

%section.w100.flex.flex-column.items-start
  %h2.section-title Wedding
  .w100.flex.flex-column.justify-start
    .flex.flex-column.mb10
      %span.detail-title.text-blue Location
      %span.detail-content Kota Kinabalu
      %span.detail-subtitle.text-grey-light Sabah, Malaysia
    .flex.flex-column.mb10
      %span.detail-title.text-blue Date
      %span.detail-content 1 July
      %span.detail-subtitle.text-grey-light 2017
    .flex.flex-column
      %span.detail-title.text-blue Ceremoney and Reception
      %span.detail-content Shangri-La's Tanjung Aru Resort & Spa
      %span.detail-subtitle.text-grey-light Celebrate good times, come on! 

%section.w100.flex.flex-column.items-start
  %h2.section-title Getting to Kota Kinabalu
  .flex.justify-between.w100
    .w35.flex.flex-column.justify-around.py4
      = image_tag "svg/airasia-airlines-logo.svg", alt: "AirAsia", class: "airlines-svg"
      = image_tag "malindo-airlines-logo.png", alt: "AirAsia", class: "airlines-svg malindo-airlines"
      = image_tag "svg/malaysia-airlines-logo.svg", alt: "AirAsia", class: "airlines-svg"
      = image_tag "svg/singapore-airlines-logo.svg", alt: "AirAsia", class: "airlines-svg singapore-airline"
      = image_tag "svg/flight-centre-logo.svg", alt: "AirAsia", class: "airlines-svg"
      
    .w65.flex.flex-column
      %p.mb1 Felix’s lovely hometown, Kota Kinabalu – or as the locals call it, KK.
      %p.mb6.personal-statement Pronounced as kay-kay. 

      %p.mb1 Kota Kinabalu won’t immediately overwhelm you with its beauty, but you’ll soon notice its friendly locals, breathtaking fiery sunsets, blossoming arts and music scene, and rich culinary spectrum spanning Malay to Japanese, Western to Cantonese, street food to high end.
      %p.mb6.personal-statement Snippet from Lonely Planet.

      %p.mb1 As lovely as KK sounds, sadly, there are no direct flights from Australia to the city. We have suggested some airlines here, simply click on the airline logo to go to their website. Flight Centre has good deals too.
      %p.mb6.personal-statement Disclaimer, we are in no way affiliated with the suggested airlines, or Flight Centre. It is purely a suggestion, feel free to choose any airline of your liking. 

      %p.mb1 We, the wedding couple will be in KK from the 23 June till the 3 July. Please do let the couple know if you are around for a catch-up!
      %p.personal-statement We promise to do our best to make time!

%section.w100.flex.flex-column.items-start
  %h2.section-title Things to do in Kota Kinabalu
  .w65.flex.flex-column
    %p There are interesting travel guides from the websites below. Each guide has it’s merits – check them out.
    %p.personal-statement Disclaimer, we are in no way affiliated with the companies listed below. The brand logos are used for suggestion purposes only.
  .w100.flex.justify-between
    .w35.flex.justify-center.items-center
      %img{ src: "http://placehold.it/200x50" }
    .w65.flex.flex-column
      %p Heaps of guides and reviews available on tripadvisor. The reviews are fairly up to date – be sure to have a read before booking an activity.
      %p.sans-link.text-grey-light click here to tripadvisor
  .w100.flex.justify-between
    .w35.flex.justify-center.items-center
      %img{ src: "http://placehold.it/200x50" }
    .w65.flex.flex-column
      %p Essential information and survival guide available here on Lonely Planet. So much information yet so easy to navigate.
      %p.sans-link.text-grey-light click here to Lonely planet
  .w100.flex.justify-between
    .w35.flex.justify-center.items-center
      %img{ src: "http://placehold.it/200x50" }
    .w65.flex.flex-column
      %p Found the emergency number for KK on this site. I guess they know what they are doing. It’s 999 by the way. 
      %p.sans-link.text-grey-light click here to arrivalguides
  .w100.flex.justify-between
    .w35.flex.justify-center.items-center
      %img{ src: "http://placehold.it/200x50" }
    .w65.flex.flex-column
      %p No guides on airbnb but they do have quite a few listings for KK. If hotel ain’t your thing, have a go at airbnb. Please choose one with aircond. 
      %p.sans-link.text-grey-light click here to airbnb
    
%section.flex.flex-column.center
  %span.display-serif share the love
  %span.display-serif for
  .headline
    %span.display-sans.mr12 Yanni
    %span.display-ampersand &
    %span.display-sans.ml12 Felix
  .w100.justify-center
    %a.mr30{ href: "#" } #yanniandfelix
    %a.mr30{ href: "#" } twitter
    %a{ href: "#" } facebook
