---
title: Yanni and Felix 👫
---

%section.atf
  .atf-headline-wrapper
    %h1.hide The Marriage of Yanni & Felix
    %span.display-serif The Marriage Of
    .headline
      %span.display-sans Yanni
      %span.display-ampersand &
      %span.display-sans Felix

  .atf-all-photo-wrapper
    .atf-photo-small-wrapper
      = image_tag "atf-photo-1.png", alt: "Yanni and Felix Photo 1", class: "atf-photo-small"
      = image_tag "atf-photo-2.png", alt: "Yanni and Felix Photo 2", class: "atf-photo-small"
      = image_tag "atf-photo-3.png", alt: "Yanni and Felix Photo 3", class: "atf-photo-small atf-photo-third"
    = image_tag "atf-photo-4.png", alt: "Yanni and Felix Photo 4", class: "atf-photo-forth"

%a{ name: "bride-and-groom" }
%section.section.bride-and-groom
  .bride-and-groom-half
    %h2.section-title Bride & Groom
    %p It is a classic story of how Yanni and Felix met. It all began on the first day of university in 2014. Felix being one of the earliest to arrive at class that day – he saw this stunning lady locked outside the room. It happened this stunning lady, Yanni had left her access card at home. This lad hold on to the chance and saved the day by opening the door for her. 
    %br
    %p See. Classic. Look how awesome they turned out →

  %img.b-lazy.bride-and-groom-half{ src: "/assets/images/bride-and-groom-photo-low.png", "data-src": "/assets/images/bride-and-groom-photo.png", alt: "Bride and Groom Photo" }

%a{ name: "proposal" }
%section.section.proposal
  %h2.section-title.proposal-title Proposal
  .proposal-statements-wrapper
    .proposal-statement-half
      %h4.proposal-name Yanni
      %p.proposal-statement-content
        It was 
        %i so
        obvious
        %br
        I knew it was happening 
        %br
        It was sweet to see him to prepare all this
        %br
        Thank you, everyone who witnessed it
    .proposal-statement-half
      %h4.proposal-name Felix
      %p.proposal-statement-content
        My mind went blank,
        %br
        I messed up most of my plans
        %br
        Speech, mic, speaker – nada. None.
        %br
        Thankfully, she said yes
  .proposal-photo-wrapper
    %img.b-lazy.proposal-photo.proposal-photo-one{ src: "/assets/images/proposal-photo-1-low.png", "data-src": "/assets/images/proposal-photo-1.png", alt: "Proposal Photo 1" }
    %img.b-lazy.proposal-photo.proposal-photo-two{ src: "/assets/images/proposal-photo-2-low.png", "data-src": "/assets/images/proposal-photo-2.png", alt: "Proposal Photo 2" }
    %img.b-lazy.proposal-photo.proposal-photo-three{ src: "/assets/images/proposal-photo-3-low.png", "data-src": "/assets/images/proposal-photo-3.png", alt: "Proposal Photo 3" }
    %img.b-lazy.proposal-photo.proposal-photo-four{ src: "/assets/images/proposal-photo-4-low.png", "data-src": "/assets/images/proposal-photo-4.png", alt: "Proposal Photo 4" }

%a{ name: "wedding" }
%section.section.wedding
  %h2.section-title Wedding
  .wedding-wrapper
    .wedding-sub-wrapper
      %span.detail-title Location
      %span.detail-content Kota Kinabalu
      %span.detail-subtitle Sabah, Malaysia
    .wedding-sub-wrapper
      %span.detail-title Date
      %span.detail-content 1 July
      %span.detail-subtitle 2017
    .wedding-sub-wrapper
      %span.detail-title Ceremoney and Reception
      %span.detail-content Shangri-La's Tanjung Aru Resort & Spa
      %span.detail-subtitle Celebrate good times, come on! 

%a{ name: "getting-there" }
%section.section.getting-there
  %h2.section-title Getting to Kota Kinabalu
  .getting-there-wrapper
    .getting-there-text-content
      %p Felix’s lovely hometown, Kota Kinabalu – or as the locals call it, KK.
      %p.self-statement Pronounced as kay-kay. 

      %p Kota Kinabalu won’t immediately overwhelm you with its beauty, but you’ll soon notice its friendly locals, breathtaking fiery sunsets, blossoming arts and music scene, and rich culinary spectrum spanning Malay to Japanese, Western to Cantonese, street food to high end.
      %p.self-statement I didn't come up with this – it's a snippet from Lonely Planet.

      %p As lovely as KK sounds, sadly, there are no direct flights from Brisbane to the city. We have suggested some airlines here, simply click on the airline logo to go to their website. Flight Centre has good deals too.
      %p.self-statement Disclaimer, we are in no way affiliated with the suggested airlines, or Flight Centre. It is purely a suggestion, feel free to choose any airline of your liking. 

      %p We, the wedding couple will be in KK from the 23 June till the 3 July. Please do let the couple know if you are around for a catch-up!
      %p.self-statement We promise to do our best to make time!
      
    .getting-there-airlines
      %a.airline-link-wrapper{ href: data.external_links.airasia }
        = image_tag "svg/airasia-airlines-logo.svg", alt: "AirAsia", class: "airline-svg"
      %a.airline-link-wrapper{ href: data.external_links.malindo }
        = image_tag "malindo-airlines-logo.png", alt: "Malindo Airlines", class: "airline-svg malindo-airlines"
      %a.airline-link-wrapper{ href: data.external_links.malaysia }
        = image_tag "svg/malaysia-airlines-logo.svg", alt: "Malaysia Airlines", class: "airline-svg malaysia-airlines"
      %a.airline-link-wrapper{ href: data.external_links.singapore }
        = image_tag "svg/singapore-airlines-logo.svg", alt: "Singapore Airlines", class: "airline-svg singapore-airlines"
      %a.airline-link-wrapper{ href: data.external_links.flight_centre }
        = image_tag "svg/flight-centre-logo.svg", alt: "Flight Centre", class: "airline-svg"
      
%a{ name: "things-to-do" }
%section.section.things-to-do
  %h2.section-title Things to do in Kota Kinabalu
  .things-to-do-message
    %p There are interesting travel guides from the websites below. Each guide has it’s merits – check them out.
    %p.self-statement Disclaimer, we are in no way affiliated with the companies listed below. The brand logos are used for suggestion purposes only.
  .guides
    .guide-image
      = image_tag "svg/tripadvisor-australia-logo.svg", alt: "TripAdvisor Logo", class: "guides-svg"
    .guide-description
      %p Heaps of guides and reviews available on tripadvisor. The reviews are fairly up to date – be sure to have a read before booking an activity.
      = link_to "click here to tripadvisor", data.external_links.tripadvisor, class: "sans-link", target: "_blank"
  .guides
    .guide-image
      = image_tag "svg/lonelyplanet-logo.svg", alt: "Lonely Planet Logo", class: "guides-svg lonelyplanet-svg"
    .guide-description
      %p Essential information and survival guide available here on Lonely Planet. So much information yet so easy to navigate.
      = link_to "click here here to Lonely planet", data.external_links.lonelyplanet, class: "sans-link", target: "_blank"
  .guides
    .guide-image
      = image_tag "svg/airbnb-logo.svg", alt: "Airbnb Logo", class: "guides-svg"
    .guide-description
      %p 
        No guides on airbnb but they do have quite a few listings for KK. If hotel ain’t your thing, have a go at airbnb. I heard they are quite nice. By the way, choose one with aircond. You’ll thank me later.
      = link_to "click here to airbnb", data.external_links.airbnb, class: "sans-link", target: "_blank"
    
%section.section.share-the-love
  %span.display-serif share the love
  %span.display-serif for
  .headline
    %span.display-sans Yanni
    %span.display-ampersand &
    %span.display-sans Felix
  .social
    = link_to "#yanniandfelix", data.external_links.twitter_share, target: "_blank", class: "sans-link"
    = link_to "twitter", data.external_links.twitter_share, target: "_blank", class: "sans-link"
    = link_to "facebook", data.external_links.facebook_share, target: "_blank", class: "sans-link"
